<%= render :partial => 'sections/filter_menu' %>

<div id="video-packs-index" class="content partial">
  <div id="wrapper" class="red-box thumb-browser">
    <div id="title" class="clearfix">
      <h1 class="page-title">Browse Video Packs</h1>
      <%= will_paginate @video_packs, :previous_label => "Previous", :next_label => "Next" %>
    </div>

    <div id="video-packs" class="grey-box grey-box-gradient thumbs clearfix">
      <% if @video_packs.empty? %>
        <h2>No video packs.</h2>
      <% else %>
        <% @video_packs.in_groups_of(3).each do |video_packs| %>
          <div class="fragment clearfix">
            <% video_packs.each_with_index do |video_pack, index| %>
              <% if video_pack %>
                <div class="item <%= "last" if index == 2 %>">
                  <%= link_to image_tag(image_source(video_pack.image_medium_path), {:alt=> video_pack.title, :height => 120}), video_pack %>
                  <h2><%= link_to video_pack.title, video_pack %></h2>
                  <p><%= link_to excerpt(video_pack.description.to_s, "", :radius => 76), video_pack, :class => "excerpt-description" %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="video-packs-index-sidebar" class="sidebar">
  <%= render :partial => 'sections/cart', :locals => {:items => @cart_items} %>
</div>
